#gameWorld {
    border: 1px solid white;
    background-color: white;
    float: left;
}

.button {
    border: 2px solid #03ecd3;
    margin: auto;
    padding-top: 0px;
    height: 16px;
    width: 60px;
    font-family:Arial;
    color: white;
    background-color: blue;
    display:grid;
    text-align:center;
}

p {
    margin: 4px;
    font-size:20px;
}

div {
    display:inline-block;
}

#environment {
    width: 240px;
    border: 2px solid brown;
    margin: auto;
    font-family: Arial;
    color: brown;
    background-color: sandybrown;
    display:inline-block;
    text-align:left;
}

#Logging {
    width: 240px;
    border: 2px solid purple;
    margin: auto;
    font-family: Arial;
    color: purple;
    background-color: mediumpurple;
    text-align:left;
}

div input {
    width: 50px;
}

#agent {
    width: 400px;
    border: 2px solid darkgreen;
    margin: auto;
    font-family: Arial;
    color: green;
    background-color: lightgreen;
    text-align:left;
}

#agent div {
    width: 96%;
    border: 2px solid gray;
    margin: 1%;;
    font-family: Arial;
    color: black;
    background-color: darkgrey;
    text-align:center;
}

/* Default style */
.db-status {
    width: 100px;
    border: 1px solid #000;
    background-color: darkgrey;
    text-align:center;
}

/* Connected state (green background) */
.db-connected {
    background-color: lightgreen;
}

/* Disconnected state (red background) */
.db-disconnected {
    background-color: lightcoral;
}

.slider-container {
    margin: 20px;
  }
  
  .slider {
    width: 100%;
    margin-top: 5px;
  }